/*Add a line on the bottom of the bar/must decide color*/
.App {
  margin: 0 auto;
  max-width: 600px;
  min-width: 500px;
  padding: 24px;
  justify-content: center;
}

@media screen and (max-width: 1160px) {
  .App {
    max-width: 400px;
    min-width: 300px;
  }

  .code-bar {
    width: 90%;
  }
}

.turn-blue {
  color: #0698d9;
}
