@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html {
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

::selection {
  background: lightblue; /* WebKit/Blink Browsers */
  opacity: 0.6;
}

::-moz-selection {
  background: lightblue; /* Gecko Browsers */
}
body {
  margin: 0;
  padding: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 90%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #67a9c5;
}

a:hover {
  color: #0698d9;
}

a:focus {
  color: #0698d9;
}

a:active {
  color: #0452b9;
}

a:visited {
  color: #0483b9;
}
